@import "~styles/mixins";

.tab {
  color: var(--color-tabbar-item-hightlight-inactive-1);
  background-color: var(--color-tabbar-item-background-inactive-1);

  &_active {
    color: var(--color-tabbar-item-hightlight-active-1);
  }
}
