@import "~styles/mixins";

.root {
  width: 180px;
  height: var(--task-content-navigation-height);

  border: 2px solid var(--color-text-content-1);
  border-radius: $borderRadiusXXXL;
  padding: $indentXXXS $indentXM $indentXXXS $indentXXXS;

  display: flex;
  align-items: center;

  @include animate(background-color);

  @include hover {
    background-color: var(--color-text-content-1-alpha-10);
  }
}

.circles {
  height: 100%;
  flex-shrink: 0;

  margin-right: $indentXXS;

  display: flex;
}

.circle-outline {
  border-radius: 50%;
  border: 2px solid var(--color-text-content-1);

  @include square(16px);

  &:not(:last-child) {
    margin-right: $indentXXXS;
  }
}

.circle-filled {
  position: relative;
  top: -2px;
  left: -2px;

  background-color: var(--color-text-content-1);
  border-radius: 50%;

  @include square(calc(100% + 4px));
}

.title {
  height: 100%;
  flex-grow: 1;
  text-align: center;

  @include text-m-medium-static(1);
}
