@import "~styles/mixins";

.scroll {
  position: absolute;
  top: 0;
  left: 0;

  overflow: auto;
  padding: $indentXSS $indentXXXL calc(var(--task-complete-state-height) + $indentXS) $indentXXXXXL;

  @include text-m;
  @include square(100%);
  @include customScrollbar(y, var(--color-highlight-active-1), var(--color-background-content-1));

  @include forTabletAndPhones {
    position: relative;
    top: auto;
    left: auto;
  }

  @include forMaxWidthTabletM {
    padding: $indentXSS $indentXL calc(var(--achievement-toast-max-height) + var(--adaptive-page-vertical-indent) + $indentXSS);
  }

  @include forMaxWidthPhoneL {
    padding: $indentXSS $indentXS calc(var(--achievement-toast-max-height) + var(--adaptive-page-vertical-indent) + $indentXSS);
  }

  :global(#{$infoFlowTextBlockGlobalClass}) code {
    background-color: var(--color-inline-code-background-1);
    color: var(--color-inline-code-color-1);
    border-radius: var(--inline-code-border-radius);
    padding: 0 var(--inline-code-side-indent);
  }
}
