@import "~styles/mixins";

$maxWidthContent: 288px;

.tabbar {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: var(--adaptive-tabbar-height);

  background-color: var(--color-tabbar-background);
  border-radius: $borderRadiusXL $borderRadiusXL 0 0;
  box-shadow: var(--shadow-content-1);

  @include adaptiveRule("max-width", 100%, 100%, 100%, $maxWidthContent, $maxWidthContent);
  @include centerPosX;

  &__content {
    width: $maxWidthContent;
    height: 100%;
  }
}
