@import "~styles/mixins";

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $indentXXXXLL;

  @include forMaxWidthDesktopS {
    grid-gap: $indentXXXL;
    grid-template-columns: repeat(2, 1fr);
  }

  @include forMaxWidthTabletM {
    grid-template-columns: repeat(2, 1fr);
  }

  @include forMaxWidthPhoneL {
    grid-template-columns: repeat(1, 1fr);
  }
}

