@import "~styles/mixins";

.image-wrapper {
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: inherit;

  @include square(100%);

  &_object-fit {
    &-contain {
      object-fit: contain;
    }

    &-cover {
      object-fit: cover;
    }

    &-fill {
      object-fit: fill;
    }
  }
}

.image-loader {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: inherit;

  @include square(100%);
}

.image-loader__inner {
  border-radius: inherit;

  @include square(100%);
}

.image-error {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: var(--color-background-void-1);

  pointer-events: none;

  @include square(100%);
}
