:root {
  // Colors for content blocks
  --color-background-content-1: #5f8e3e;
  --color-background-content-1-alpha-0: #{rgba(#5f8e3e, 0)};
  --color-background-content-1-alpha-50: #{rgba(#5f8e3e, 0.5)};
  --color-text-content-1: #f9fff3;
  --color-text-content-1-alpha-10: #{rgba(#f9fff3, 0.10)};
  --shadow-content-1: 0 0 8px 4px #{rgba(#496d30, 0.15)};
  --shadow-content-1-darker-m: 0 0 12px 6px #{rgba(#496d30, 0.3)};
  --drop-shadow-content-1: 0 0 8px #{rgba(#496d30, 0.15)};

  // Colors for void areas
  --color-background-void-1: #f9fff3;

  // Button colors
  --color-text-button-primary-1: #496d30;
  --color-background-button-primary-1: #f9fff3;

  // Colors to highlight some appearance
  --color-highlight-active-1: #a7de81;
  --color-highlight-active-2: #496d30;
  --color-highlight-inactive-1: #cbcbcb;
  --color-hightlight-inactive-2: #8b8b8b;
  --color-hightlight-active-text-1: #496d30;
  --color-hightlight-active-background-1: #a7de81;
  --color-hightlight-inactive-text-1: #4e4e4e;
  --color-hightlight-inactive-background-1: #cbcbcb;
  --shadow-highlight-1: 0 0 4px 4px #{rgba(#496d30, 0.20)};
  --drop-shadow-highlight-1: drop-shadow(0 0 4px #{rgba(#496d30, 0.20)});
  --shadow-highlight-inactive-1: 0 0 4px 4px #{rgba(#496d30, 0)};

  // Tooltip colors
  --color-text-tooltip-1: #f9fff3;
  --background-tooltip-1: #{rgba(#15250a, 0.9)};

  // Popover colors
  --background-popover-1: #f9fff3;
  --color-text-popover-1: #496d30;

  // Skeleton colors
  --color-skeleton-base-1: #ebebeb;
  --color-skeleton-highlight-1: #a7de81;

  // Achievements page colors
  --color-skill-empty: #d2d2d2;

  // Scrollbar colors
  --color-scrollbar-track: #a7de81;
  --color-scrollbar-thumb: #496d30;

  // Colors of code container
  --color-code-container-line-counter-background-primary-1: #a7de81;
  --color-code-container-line-counter-text-primary-1: #496d30;
  --color-code-container-main-background-primary-1: #f9fff3;
  --color-code-container-main-text-primary-1: #496d30;
  --color-code-container-input-background-primary-1: #fff;
  --color-code-container-input-text-primary-1: #15250a;
  --color-code-container-line-counter-background-secondary-1: #8b8b8b;
  --color-code-container-line-counter-text-secondary-1: #cbcbcb;
  --color-code-container-main-background-secondary-1: #cbcbcb;
  --color-code-container-main-text-secondary-1: #4e4e4e;
  --color-code-container-input-background-secondary-1: #fff;
  --color-code-container-input-text-secondary-1: #15250a;
  --color-spinner-circle-primary-1: #f9fff3;
  --color-spinner-thumb-primary-1: #a7de81;
  --color-spinner-circle-secondary-1: #{rgba(#f9fff3, 0.7)};
  --color-spinner-thumb-secondary-1: #f9fff3;
  --color-dots-loader-primary-1: #a7de81;
  --color-dots-loader-secondary-1: #f9fff3;
  --color-thematic-loader-primary-1: #a7de81;
  --color-thematic-loader-secondary-1: #f9fff3;

  // Colors of the toast
  --color-base-toast-background-1: #5f8e3e;
  --color-base-toast-text-primary-1: #f9fff3;
  --color-base-toast-text-secondary-1: #a7de81;

  // Colors of dismiss button
  --color-dismiss-button-background-primary-1: #{rgba(#a7de81, 0.2)};
  --color-dismiss-button-body-primary-1: #a7de81;
  --color-dismiss-button-background-secondary-1: #{rgba(#496d30, 0.4)};
  --color-dismiss-button-body-secondary-1: #496d30;

  // Colors of topic card component
  --color-topic-card-background-1: #f9fff3;
  --color-topic-card-text-1: #f9fff3;
  --color-topic-card-check-1: #a7de81;

  // Colors of input
  --color-input-background-primary-1: #f9fff3;
  --color-input-label-primary-1: #f9fff3;
  --color-input-text-primary-1: #000;
  --color-input-placeholder-primary-1: #8b8b8b;
  --color-input-invalid-primary-1: #ff5852;

  // Colors of error toast
  --color-error-toast-background-primary-1: #fff;
  --color-error-toast-icon-primary-1: #ff5852;
  --color-error-toast-text-primary-1: #496d30;

  // Plain colors
  --color-black-alpha-60: #{rgba(#000, 0.6)};
  --color-black-alpha-80: #{rgba(#000, 0.8)};

  // Tabbar colors
  --color-tabbar-background: var(--color-background-content-1);
  --color-tabbar-item-hightlight-inactive-1: var(--color-highlight-inactive-1);
  --color-tabbar-item-background-inactive-1: var(--color-background-void-1);
  --color-tabbar-item-hightlight-active-1: var(--color-highlight-active-1);
  --color-tabbar-item-background-active-1: var(--color-background-void-1);
  --color-tabbar-item-logout-hightlight: #ffb4b1;
  --color-tabbar-item-logout-background: var(--color-background-void-1);
}
