:root {
  // Colors for content blocks
  --color-background-content-1: #5f8e3e;
  --color-text-content-1: #f9fff3;
  --color-text-content-1-alpha-10: #{rgba(#f9fff3, 0.10)};
  --shadow-content-1: 0 0 8px 4px #{rgba(#496d30, 0.15)};
  --shadow-content-1-darker-m: 0 0 12px 6px #{rgba(#496d30, 0.3)};
  --drop-shadow-content-1: 0 0 8px #{rgba(#496d30, 0.15)};

  // Colors for void areas
  --color-background-void-1: #f9fff3;

  // Button colors
  --color-text-button-1: #496d30;
  --color-background-button-1: f9fff3;

  // Colors to highlight some appearance
  --color-highlight-active-1: #a7de81;
  --color-highlight-active-2: #496d30;
  --color-highlight-inactive-1: #cbcbcb;
  --color-hightlight-inactive-2: #8b8b8b;
  --color-hightlight-active-text-1: #496d30;
  --color-hightlight-active-background-1: #a7de81;
  --color-hightlight-inactive-text-1: #4e4e4e;
  --color-hightlight-inactive-background-1: #cbcbcb;
  --shadow-highlight-1: 0 0 4px 4px #{rgba(#496d30, 0.20)};
  --drop-shadow-highlight-1: drop-shadow(0 0 4px #{rgba(#496d30, 0.20)});
  --shadow-highlight-inactive-1: 0 0 4px 4px #{rgba(#496d30, 0)};

  // Tooltip colors
  --color-text-tooltip-1: #f9fff3;
  --background-tooltip-1: #{rgba(#15250a, 0.9)};

  // Popover colors
  --background-popover-1: #f9fff3;
  --color-text-popover-1: #496d30;

  // Skeleton colors
  --color-skeleton-base-1: #ebebeb;
  --color-skeleton-highlight-1: #a7de81;

  // Achievements page colors
  --color-skill-empty: #d2d2d2;

  // Scrollbar colors
  --color-scrollbar-track: #a7de81;
  --color-scrollbar-thumb: #496d30;

  // Colors of code container
  --color-code-container-line-counter-background-primary-1: #a7de81;
  --color-code-container-line-counter-text-primary-1: #496d30;
  --color-code-container-main-background-primary-1: #f9fff3;
  --color-code-container-main-text-primary-1: #496d30;
  --color-code-container-input-background-primary-1: #fff;
  --color-code-container-input-text-primary-1: #15250a;
  --color-code-container-line-counter-background-secondary-1: #8b8b8b;
  --color-code-container-line-counter-text-secondary-1: #cbcbcb;
  --color-code-container-main-background-secondary-1: #cbcbcb;
  --color-code-container-main-text-secondary-1: #4e4e4e;
  --color-code-container-input-background-secondary-1: #fff;
  --color-code-container-input-text-secondary-1: #15250a;
  --color-spinner-circle-primary-1: #f9fff3;
  --color-spinner-thumb-primary-1: #a7de81;
  --color-spinner-circle-secondary-1: #{rgba(#f9fff3, 0.7)};
  --color-spinner-thumb-secondary-1: #f9fff3;
  --color-dots-loader-primary-1: #a7de81;
  --color-dots-loader-secondary-1: #f9fff3;
}
