// Диапазоны брейкпоинтов
$maxWidthPhoneS: 374px; // phone s: 0-374
$maxWidthPhoneL: 767px; // phone l: 375-767
$maxWidthTabletM: 1023px; // tablet m: 768-1023
$maxWidthDesktopS: 1439px; // desktop s: 1024-1439
$minWidthDesktopM: 1439px; // desktop m: 1440-9999

// Отступы
$indentXXXXXL: 64px;
$indentXXXXLLL: 58px;
$indentXXXXLL: 52px;
$indentXXXXL: 48px;
$indentXXXLLL: 42px;
$indentXXXLL: 36px;
$indentXXXL: 32px;
$indentXXL: 28px;
$indentXL: 24px;
$indentL: 20px;
$indentXM: 18px;
$indentM: 16px;
$indentS: 14px;
$indentXS: 12px;
$indentXSS: 10px;
$indentXXS: 8px;
$indentXXSS: 6px;
$indentXXXS: 4px;
$indentXXXXS: 2px;

// Border radius
$borderRadiusCircle: 50%;
$borderRadiusXXXL: 20px;
$borderRadiusXL: 16px;
$borderRadiusM: 12px;
$borderRadiusXS: 8px;
$borderRadiusXXXS: 4px;
$skeletonContentTextLineBorderRadius: $borderRadiusXS;
$skeletonContentImageBlockBorderRadius: $borderRadiusM;

// Z-index
$zIndexToast: 1000;

// Content flow blocks
$infoFlowCodeBlockGlobalClass: ".info-flow-code-block";
$infoFlowTextBlockGlobalClass: ".info-flow-text-block";
$infoFlowImageBlockGlobalClass: ".info-flow-image-block";
$inputFlowOnlyCodeGlobalClass: ".input-flow-only-code";
$inputFlowPartCodeGlobalClass: ".input-flow-part-code";
$inputFlowDndGlobalClass: ".input-flow-dnd";
