$maxWidthPhoneS: 374px; // phone s: 0-374
$maxWidthPhoneL: 767px; // phone l: 375-767
$maxWidthTabletM: 1023px; // tablet m: 768-1023
$maxWidthDesktopS: 1439px; // desktop s: 1024-1439
$minWidthDesktopM: 1439px; // desktop m: 1440-9999
