@import "./fonts/fonts";
@import "./colors";
@import "./mixins";

$colorPureBlack: #000;

html,
body {
  font-family: "Roboto", sans-serif;
  color: $colorPureBlack;
  background-color: var(--color-background-void-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;

  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

// Todo: Подумать над структурой файлов стилей
:root {
  // Common page indents
  --adaptive-page-side-indent: 0;
  --adaptive-page-vertical-indent: 0;
  --adaptive-pennant-header-height: 0;
  --adaptive-tabbar-height: 0;

  @include adaptiveRule("--adaptive-page-side-indent", 12px, 12px, 32px, 64px, 64px);
  @include adaptiveRule("--adaptive-page-vertical-indent", 32px, 32px, 32px, 32px, 32px);
  @include adaptiveRule("--adaptive-pennant-header-height", 130px, 130px, 134px, 134px, 134px);
  @include adaptiveRule("--adaptive-tabbar-height", 78px, 78px, 92px, 92px, 92px);

  // Code container
  --code-container-vertical-indent: #{$indentXXS};
  --code-container-border-radius: #{$borderRadiusXL};
  --code-container-main-side-indent: #{$indentXSS};

  // Popover
  --popover-view-offset: 12px;

  // Toast
  --base-toast-width: 292px;
  --base-toast-indents: 0;
  @include adaptiveRule("--base-toast-indents", 8px, 8px, 8px, 12px, 12px);

  // Achievements toast
  --achievement-toast-max-height: 0;
  @include adaptiveRule("--achievement-toast-max-height", 67px, 67px, 67px, 75px, 83px);
}
