@import "./mixins";

@mixin base-heading {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

@mixin heading-xl($line-height: 1.3) {
  line-height: $line-height;

  @include base-heading;
  @include adaptiveRule("font-size", 38, 38, 42, 42, 42);
}

@mixin heading-xl-medium($line-height: 1.3) {
  font-weight: 500;

  @include heading-xl($line-height);
}


@mixin heading-m($line-height: 1.3) {
  line-height: $line-height;

  @include base-heading;
  @include adaptiveRule("font-size", 32, 32, 36, 36, 36);
}

@mixin heading-m-medium($line-height: 1.3) {
  font-weight: 500;

  @include heading-m($line-height);
}

@mixin base-text {
  font-family: "Roboto", sans-serif;
}

@mixin text-m($line-height: 1.3) {
  line-height: $line-height;

  @include base-text;
  @include adaptiveRule("font-size", 15, 15, 15, 15, 15);
}

@mixin text-m-medium($line-height: 1.3) {
  font-weight: 500;

  @include text-m($line-height);
}

@mixin text-xs($line-height: 1.3) {
  line-height: $line-height;

  @include base-text;
  @include adaptiveRule("font-size", 12, 12, 12, 12, 12);
}

@mixin text-xs-medium($line-height: 1.3) {
  font-weight: 500;

  @include text-xs($line-height);
}
