@import "~styles/mixins";

.scroll {
  overflow: auto;
  flex: 1 0 0;

  padding-right: $indentS;
  padding-bottom: $indentXXXXL;
  margin-right: -#{$indentS};

  @include customScrollbar;

  @include forTabletAndPhones {
    overflow: visible;
    padding-bottom: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: $indentM;

  @include minWidth(1800px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include forMaxWidthDesktopS {
    grid-template-columns: repeat(3, 1fr);
  }

  @include forMaxWidthTabletM {
    grid-template-columns: repeat(4, 1fr);
  }

  @include forMaxWidthPhoneL {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loader {
  border-radius: $borderRadiusXL;
  @include square(60px);
}
