@font-face {
    font-family: "Rubik";
    src: url("styles/fonts/Rubik/Rubik-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("styles/fonts/Rubik/Rubik-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
