@import "~styles/mixins";

.root {
  position: absolute;
  top: 0;
  left: 0;

  background-color: inherit;
  border-radius: inherit;

  @include square(100%);
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;

  border-radius: inherit;

  @include square(1000px);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  @include square(100%);
}

.saving-loader {
  position: absolute;

  top: $indentM;
  left: $indentM;

  @include forTabletAndPhones {
    top: $indentXS;
    left: $indentXS;
  }
}
