@import "~styles/mixins";

// Todo: Animate, make swipe gesture
.toast-root {
  background-color: var(--color-base-toast-background-1);
  color: var(--color-base-toast-text-primary-1);
  border-radius: $borderRadiusM;

  box-shadow: var(--shadow-highlight-1);
}
