@import "~styles/mixins";

.root {
  flex-grow: 1;

  overflow: hidden;
  height: 100vh;

  display: flex;

  @include forTabletAndPhones {
    overflow: unset;
    height: auto;
    flex-direction: column-reverse;
  }
}

.content {
  flex-shrink: 0;

  position: relative;

  background-color: var(--color-background-content-1);
  color: var(--color-text-content-1);
  border-radius: 0 $borderRadiusXL $borderRadiusXL 0;

  width: 522px;
  height: 100%;

  @include forTabletAndPhones {
    z-index: 1;

    width: 100%;
    max-width: 492px;
    margin: 0 auto;

    border-radius: $borderRadiusXL;
    height: auto;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    pointer-events: none;

    border-radius: inherit;
    box-shadow: var(--shadow-content-1-darker-m);
    opacity: calc(0.5 + var(--scroll-factor) * 0.5);

    @include square(100%);
  }

  &__inner {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    border-radius: inherit;

    @include square(100%);
  }
}

.game-field {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 400px;

  padding: $indentXXXL $indentXXXXXL;

  display: flex;
  justify-content: center;

  @include forMaxWidthDesktopS {
    padding: $indentXXXL $indentXXXXXL $indentXXXL $indentXXXL;
  }

  @include forTabletAndPhones {
    position: sticky;
    top: 0;

    min-width: auto;
    width: 100%;
    max-width: 492px;
    margin: 0 auto;
  }

  @include forMaxWidthTabletM {
    padding: $indentXXXL 0;
  }

  @include forMaxWidthPhoneL {
    padding: $indentXS;
  }

  &__container {
    width: calc(100vh - #{$indentXXXL} * 2);
    height: 100%;

    display: flex;
  }

  &__inner {
    position: relative;

    width: 100%;
    padding-top: 100%;
    margin: auto;

    background-color: var(--color-background-void-1);
    box-shadow: var(--shadow-content-1);
    border-radius: $borderRadiusXL;

    @include forTabletAndPhones {
      transform-origin: top center;
    }

    @include forMaxWidthTabletM {
      transform: scale(var(--scale-scroll-factor)) translate(0, calc(-#{$indentXXXL} * var(--scroll-factor)));
    }

    @include forMaxWidthPhoneL {
      transform: scale(var(--scale-scroll-factor));
    }
  }
}
