@import "~styles/mixins";

.image-wrapper {
  position: relative;

  height: calc(var(--lines-height) * 1.3);
  border-radius: $borderRadiusXL;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: var(--background-image);

    filter: blur(10px) grayscale(1);

    @include square(120%);
    @include centerPos;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;

  border-radius: $borderRadiusXL;
}
